img {
    max-width: 40px;
    max-height: 40px;
}

.hud-element {
    display: flex;
    width: 100%;
    height: 10vh;

    margin: 0;
    padding: 0;

    border-top: 2px solid black;
    border-bottom: 2px solid black;
    flex-direction: row;
    align-items: center;

    background-color: white;
}

#top-hud, #bottom-hud {
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
}

#top-hud {
    top: 0;
}

#bottom-hud {
    bottom: 0;
}

#resources, #army-buttons {
    display: flex;
    width: 100%;
    justify-content: start;
}

#money-element, #troops-element, #day-element {
    display: flex;

    align-items: center;
    padding: 8px 16px;
}

#money-img, #troops-img, #day-img {
    padding: 8px 16px;
}

.button-text, .resource-text {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.resource-text {
    font-size: 20px;
}

#day-count, #options {
    display: flex;
    width: 100%;
    justify-content: end;
}

.battle-button, #quit-button, #skip-turn, .back-button {
    width: 200px;
    height: 10vh;
    border-radius: 0;
    border: none;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#quit-button {
    background-color: plum;
}

#skip-turn {
    width: 100px;
    height: 10vh;

    border-radius: 0;
    border-bottom: none;
}


#battle-screen {
    display: flex;
    margin: 12vh 0;

    justify-content: center;

    width: 99vw;
    min-height: 300px;
    max-height: 100%;
}