#content-header {
    display: flex;
    flex-direction: column;
}

#content-head {
    margin-left: 16px;
}

#content {
    display: flex;
    background-color: lightgray;
    
    width: 80vw;
    min-height: 100px;
    max-height: 350px;

    margin: 0 0 16px 16px;
    align-items: start;
}

#button-field {
    display: flex;
    margin: 16px 0 16px 16px;
}

.back-button {
    border: 1px solid black;
}