#map {
    display: grid;
    grid: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
    gap: 16px;

    width: 80vw;
}

.land-tile {
    display: flex;
    flex-direction: column;

    border-radius: 0;
    border: none;

    box-shadow: 2px 2px 0 black;
}

.land-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 4px;
}

.land-name {
    font-weight: 500;
    font-size: 16px;

    text-align: start;

    padding: 0 4px;
    margin: 0;
}

.land-type {
    font-weight: 500;
    font-style: italic;
    font-size: 14px;

    align-self: start;

    padding: 0;
    padding-left: 4px;
    margin: 0;
}

.land-power {
    font-weight: 500;
    font-size: 20px;

    padding: 0 4px;

    width: 20px;
    margin: 0;
}

.land-units {
    display: flex;
    flex-direction: row;

    width: 80px;

    padding: 4px;
}

.land-resource {
    padding: 4px;
}

.land-amount {
    padding-left: 4px;
}

.unit {
    padding: 0 4px;
}

.land-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.ally {
    background-color: #26E2FA;
}

.ally:hover {
    background-color: #29C2D6;
}

.ally:active {
    background-color: #2494A3;
}

.enemy {
    background-color: #FA2E27;
}

.enemy:hover {
    background-color: #D6302A;
}

.enemy:active {
    background-color: #9D302C;
}